
.cards {
    display: inline-flex;
    
}

.texcont{    
    position: relative;
    top: -11em;
    left: -11em;
}
.horario{
    position: relative;
    top: -21em;
    left: -20em;
}
#botonc{
    position: relative;
    top: -20em;
    left: -23em;
}

.titulopro{
position: relative;
left: 36em;
}

footer {
    background-color: #333;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
}

.iconemail, .iconloc {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.d-block {
    width: 80%; /* Ajusta el tamaño de las imágenes según tus necesidades */
    display: block;
    margin-left: auto;
    margin-right: auto;
}