<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../../static/css/index.css?v=1" rel="stylesheet">
    <title>Serviexpress</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    
    <!-- Incluye los enlaces a los estilos y scripts de Ionic aquí -->
</head>
<body>
    
    <header>
       
    
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'index' %}">Serviexpress</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'productos' %}">productos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'servicios' %}">servicios</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'pedidos' %}">pedidos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'perfil' %}">perfil</a>
                        </li>
                    </ul>
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </nav>
    </header>

    <!-- carrosules -->
    <div class="carrotam">
        <div id="carouselExampleDark" class="carousel carousel-dark slide">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
             <!-- 1 slider -->
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="10000">
                    <img src="../../static/img/servicios.jpg" class="d-block" alt="servicio" height="595">
                    <div class="carousel-caption d-none d-md-block">
                        <h5 class="titulo1">Expertos en el mundo automotriz</h5>
                        <!-- card1 -->
                        <div class="cards-container">
                            <div class="cards">
                                <div class="card" style="width: 18rem;">
                                    <div class="card-body">
                                    <h5 class="card-title">servicio 1</h5>
                                    <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    
                                    </div>
                                </div>
                            
                            <!-- card2 -->
                                <div class="card" style="width: 18rem;">
                                    <div class="card-body">
                                    <h5 class="card-title">servicio 2</h5>
                                    <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    
                                    </div>
                                </div>
                            <!-- card3 --> 
                                <div class="card" style="width: 18rem;">
                                    <div class="card-body">
                                    <h5 class="card-title">servicio 3</h5>
                                    <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    </div>
                                </div>
                            
                            </div>
                        </div>
                        <button type="button" class="btn btn-secondary" id="services-button">Mas servicios</button>

                        <script>
                            document.getElementById("services-button").addEventListener("click", function () {
                                window.location.href = "{% url 'servicios' %}";
                            });
                        </script>
                    </div>
                    
                </div>
                
           

                <!-- 2 slider -->
                <div class="carousel-item" data-bs-interval="2000">
                    <img src="../../static/img/sobremi.jpg" class="d-block" alt="Sobre Nosotros" height="595">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Sobre Nosotros</h5>
                        <p>Somos Serviexpress, una empresa dedicada a brindar servicios de alta calidad en el mundo automotriz. Nuestra misión es brindar soluciones integrales para mantener tu vehículo en perfecto estado.</p>
                        <p class="d-inline-flex gap-1">
                            <a class="btn btn-primary" data-bs-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Leer mas</a>
                           
                          </p>
                          <div class="row">
                            <div class="col">
                              <div class="collapse multi-collapse" id="multiCollapseExample1">
                                <div class="card card-body">
                                    Nuestro equipo de profesionales altamente capacitados se compromete a ofrecer servicios de mantenimiento, reparación y asesoría automotriz excepcionales. Trabajamos con pasión y dedicación para satisfacer las necesidades de nuestros clientes y garantizar la seguridad en la carretera.
                                    En Serviexpress, nos enorgullece ser líderes en la industria automotriz y estamos comprometidos con la excelencia en cada detalle. ¡Confía en nosotros para cuidar de tu vehículo!
                                </div>
                              </div>
                            </div>
                            
                          </div>
                    </div>
                </div>

                <!-- 3 slider -->
                <div class="carousel-item">
                    <img src="../../static/img/contactanos.jpg" class="d-block" alt="contactanos" width="30" height="595">
                    <div class="carousel-caption d-none d-md-block">
                    <h2 class="texcont">Contactanos</h2>
                        <div class="horario">
                            <h4>horario de atencion</h4>
                            <h5>7am-6pm</h5>
                            
                        </div>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            Contactar
                          </button>
                          
                          <!-- Modal -->
                          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h1 class="modal-title fs-5" id="exampleModalLabel">Formulario</h1>
                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="mb-3">
                                        <label for="exampleFormControlInput1" class="form-label">Email address</label>
                                        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                                      </div>
                                      <div class="mb-3">
                                        <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
                                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                      </div>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">cancelar</button>
                                  <button type="button" class="btn btn-primary">Enviar</button>
                                </div>
                              </div>
                            </div>
                          </div>
                    </div>
                </div>
                
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div class="titulopro">
            

        </div>    


        <footer>
            <h3>Serviexpress</h3>
            
            <img src="../../static/img/mail.svg" alt="" class="iconemail">
            <p class="email">email@gmail.com</p>
            <img src="../../static/img/map-pin.svg" alt="" class="iconloc">
            <p class="loc">av. siempre viva 666</p>
        </footer>
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
</body>
</html>
