<!DOCTYPE html>

<html>
    {% load static %}
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/Validar_Pago.css' %}" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    </head>
    <body class="fondo">
        <header class="Formblocks">
            <div class="block-1" style="background-color: #6b196b; width: 70%; height: 15px;"></div>
            <div class="block-2" style="background-color: #d5006c; width: 10%; height: 15px;"></div>
            <div class="block-3" style="background-color: #00c4b3; width: 20%; height: 15px;"></div>
        </header>

        <Main>
            <img class="header__brand" src="{%static 'img/Logo_Webpay.jpg'%}"/>
            <br>
            <br>
            <div class="block_general">
                <div class="block_Opcion_Pago">
                    <h6 class="Letra">Estás Pagando en:</h6>
                    <img class="header__brand" src="{%static 'img/Flow.jpg'%}"/>
                    <h6 class="Letra2">Selecciona tu medio de pago:</h6>
                    <br>
                    <div class="buttons">
                        <button class="button-1">Tarjetas <br><span class="letraSpan">Credito, Debito, Prepago</span> </button>
                        
                        <br>
                        <button class="button-2">Onepay <br><span class="letraSpan">y otras billeteras digitales</span> </button>
                    </div>
                    <br>
                    <button class="btnSalir" id="btnCancelarCompra">Anular Compra y volver</button>
                </div>
                <div class="block_Metodo_Pago">
                    <h6 class="Letra3">Ingresa los datos de tu Tarjeta:</h6>
                    <br>
                    <img class="header__brand" src="{%static 'img/Diseño_Tarjeta.png'%}"/>
                    <br>
                    <label class="Letra4">Número de la tarjeta</label>
                    <br>
                    <input class="design_input" style="margin-left: 13%;" placeholder="xxxx xxxx xxxx xxxx"/>
                    <br>
                    <br>
                    <button class="BotonContinuar" style="color: white" onclick="window.location.href='../detalle_venta'" >Continuar</button>
                    <br>
                    <br>
                    <img style="margin-left: 8%;" src="{%static 'img/Logos_Tarjetas.jpg'%}" />
                </div>
            </div>
        </main>
          
    </body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/Validar_Pago.js"></script>
    </html>